<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Todo App </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <div class="container" style="margin-top:100px">
            <h4>TodoList </h4>
            <hr>
            <form action="addTodo" method="POST">
            {% csrf_token %} <!-- her formda bulunmalıdır -->
                <div class="form-group">
                    <label for="formGroupExampleInput">Başlık</label>
                    <input type="text" name="title" class="form-control" id="formGroupExampleInput" placeholder="Todo başlığını giriniz:">
                </div>
                <button type="submit" class="btn btn-primary"> Ekle </button>
            </form>
            <hr>
            {% if todos %}
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Başlık</th>
                    <th scope="col">Durum</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                {% for todo in todos %}
                    <tr>
                        <th scope="row">{{todo.id}}</th>
                        <td>{{todo.title}}</td>
                        {% if todo.completed %}
                            <td>Tamamlandı</td>
                        {% else %}
                        <td>Tamamlanmadı</td>
                        {% endif %}     
                        <td><a href="/update/{{todo.id}}" class="btn btn-warning"> Durumu Güncelle </a></td>
                        <td><a href="/delete/{{todo.id}}" class="btn btn-danger"> Sil </a></td>
                    </tr>
                {% endfor %}
                    
                </tbody>
            </table>
            {% else %}
            <div class="alert alert-danger">
                Herhangi bir todo bulunmuyor!
            </div>
            {% endif %}
            
        </div>


        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>  
    </body>
</html>